:root{
    --lightBlue: #00ADB5;
    --darkGrey: #393E46;
    --black: #000000;
    --titleFont: 'Dancing Script', cursive;font-family: 'Dancing Script', cursive;
    --secondaryFont:  'Cormorant Garamond', serif;
}
/*
* {
    border: 0;
    padding: 0;
    margin: 0;
}
*/
body {
    background-color: var(--darkGrey);
}

.parallax{
    display: flex;
    flex-direction: column;
}

.parallax, .parallax-2, .parallax-3, .parallax-4, .parallax-5, .parallax-6, .parallax-7, .parallax-8{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    width: 100%;
    height: 100vh;
}

.title, .themepark, .portrait, .wild-life{
    font-size: 60px;
    background: lightgrey;
    color: var(--lightBlue);
    font-family: var(--titleFont);
    padding: 8px 24px;
    border-radius: 16px;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
}

.title-animation{
    animation: typewriter 4s steps(44) 1s 1 normal both,
               blinkTextCursor 500ms steps(44) infinite normal;
  }
  @keyframes typewriter{
    from{width: 1.1em;}
    to{width: 8.3em;}
  }
  @keyframes blinkTextCursor{
    from{border-right-color: rgba(255,255,255,.75);}
    to{border-right-color: transparent;}
  }

  .parallax:nth-child(1) {
    background-image: url(images/IMG_4676-a.JPG);
    background-size: cover;
}

.parallax-2:nth-child(1) {
    background-image: url(./images/modal/personal/Canon_T5.jpeg);
    background-size: cover;
}

.nav {
    position: fixed;
    top: 14px;
    right: 2%;
    background-color: lightgray;
    border-radius: 16px;
}

.nav-link {
    font-size: 35px;
    margin-left: 2px;
    margin-right: 2px;
    color: var(--lightBlue);
    font-family: var(--secondaryFont);
}

.nav-link:hover {
    color: darkgray;
}

.jumbotron {
    background-color: var(--darkGrey);
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    justify-content: center;
}

.me {
    width: 30%;
    margin-left: 45px;
    border-radius: 16px;
}

.aboutme {
    margin-left: 35px;
}

.aboutme-paragraph {
    padding-left: 25px;
    color: var(--lightBlue);
    padding-right: 25px;
    font-size: 27px;
    font-weight: bold;
    line-height: 50px;
    font-family: var(--secondaryFont);
    
}

.my-4 {
    width: 80%;
    margin: auto;
    margin-right: auto;
    color: var(--black);
}

.lead {
    font-size: 40px;
    margin-left: 120px;
    font-family: var(--secondaryFont);
    font-weight: bold;
    color: var(--lightBlue);
}

.footer-break {
    color: black;
    border-top: 2px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.footer {
    background-color: var(--black);
    display: flex;
    flex-direction: row;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
}

.contact {
    margin-left: auto;
    margin-right: auto;
}

.number, .phone, .email, .socialsBreak, .socials, .socials-links {
    color: var(--lightBlue);
    font-family: var(--secondaryFont);
    font-weight: bold;
}

.social, .number {
    font-size: 19px;
}

.socials {
    margin-left: auto;
    margin-right: auto;
}

.mainGallery {
    display: flex;
    flex-direction: row;
    justify-content:center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.test {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
.themeparks:nth-child(1) {
    background-image: url(images/gallery/Cinderella\ castle3.jpeg);
    background-size: cover;
    width: 29%;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.portraits:nth-child(2) {
    background-image: url(images/modal/portraits/Sam.jpeg);
    background-size: cover;
    width: 29%;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 20px;
    margin-bottom: 20px; 
}

.wildlife:nth-child(3) {
    background-image: url(images/gallery/Turtle.jpeg);
    background-size: cover;
    width: 29%;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.cars:nth-child(1) {
    background-image: url(images/gallery/Truck.jpeg);
    background-size: cover;
    width: 29%;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.macro:nth-child(2) {
    background-image: url(images/gallery/Ladybug.jpeg);
    background-size: cover;
    width: 29%;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.personal:nth-child(3) {
    background-image: url(images/modal/personal/alabama.jpg);
    background-size: cover;
    width: 29%;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.themeparks, .portraits, .wildlife, .cars, .macro, .personal {
    height: 800px;
    border-radius: 16px;
    
}

h3 {
    font-size: 35px;
    background: lightgrey;
    color: var(--lightBlue);
    font-family: var(--titleFont);
    padding: 8px 24px;
    border-radius: 16px;
    text-align: center;
    position: relative;
    top: 50%;
    width:40%;
    margin-left: auto;
    margin-right: auto;
}

.gallery-links {
    text-decoration: none;
    display:block;
    width: 100%;
    height: 100%;
}

/* themeparks */

.parallax-3:nth-child(1) {
    background-image: url(./images/modal/themeparks/islands.jpg);
    background-size: cover;
}
.gallery-images{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.stock-image{
    height: 450px;
    margin: 15px;
    border-radius: 15px;
}
/*portraits*/
.parallax-4:nth-child(1) {
    background-image: url(./images/modal/portraits/Moo.jpeg);
    background-size: cover;
}
/*wildlife*/
.parallax-5:nth-child(1) {
    background-image: url(./images/modal/wildlife/Jaguar.jpg);
    background-size: cover;
}
/*carsandtrucks*/
.parallax-6:nth-child(1) {
    background-image: url(./images/modal/cars/truck3.JPG);
    background-size: cover;
}
/*macro*/
.parallax-7:nth-child(1) {
    background-image: url(./images/modal/Macro/ladybug2.JPG);
    background-size: cover;
}
/*personal*/
.parallax-8:nth-child(1) {
    background-image: url(./images/modal/personal/ronald.JPG);
    background-size: cover;
}
/* mobile responsiveness */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
.nav {
    width: 45px;
    height:40px;
    margin-right: 300px;
}
.navbar-toggler-icon {
    transform: rotate(90deg);
    position: relative;
    right: 18px;
    top: -10px;
}
.parallax, .parallax-2, .parallax-3, .parallax-4, .parallax-5, .parallax-6, .parallax-7, .parallax-8 {
    width: 100%;
}

.title {
    font-size: 30px;
}
.jumbotron {
    display: flex;
    flex-direction: column;
}
.me {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}

.lead {
    margin-left: 0;
    text-align: center;
    font-size: 35px;
}

.aboutme-paragraph {
    font-size: 18px;
    line-height: normal;
}

.footer {
    display: flex;
    flex-direction: column;
}
.contact {
    display: flex;
    flex-direction: column;
}
.number-1 {
    text-align: center;
}

.footer {
    width: 100%;
}
.contact{
    margin-top: 15px;
}
.socials-links-a {
    text-align: center;
}
.mainGallery{
    display: flex;
    flex-direction: column;
}
.themeparks:nth-child(1) {
    width: 90%;
    margin-left: 15px;
    margin-right: 15px;
}
.portraits:nth-child(2) {
    width: 90%;
    margin-left: 15px;
    margin-right: 15px; 
}

.wildlife:nth-child(3) {
    width: 90%;
    margin-left: 15px;
    margin-right: 15px;
}

.cars:nth-child(1) {
    width: 90%;
    margin-left: 15px;
    margin-right: 15px;
}
.macro:nth-child(2) {
    width: 90%;
    margin-left: 15px;
    margin-right: 15px; 
}

.personal:nth-child(3) {
    width: 90%;
    margin-left: 15px;
    margin-right: 15px;
}

.themeparks, .portraits, .wildlife, .cars, .macro, .personal {
    height: 450px;
    border-radius: 16px;
}
h3 {
    width:60%;
}
/*themeparks*/

.themepark-image {
    width:100%;
    margin-left: auto;
    margin-right: auto;
}
.themepark-row-1{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.gallery-images{
    display: flex;
    flex-direction: column;
}
.stock-image{
    width: 90%;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    height: auto;
}
}
/* Small devices (portrait tablets and large phones, 600px and up) */
/*@media only screen and (min-width: 600px) {...}*/